@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  box-sizing : border-box;
  font-family: "Kode Mono", monospace;
}

html,
body {
  padding    : 0;
  margin     : 0;
  font-family: "Kode Mono", monospace;
  overflow-x : hidden;
  overflow-y : hidden;
  color      : #e7e8e8;
  background : #141417;
}

.title {
  background             : linear-gradient(100deg, #5C25D2 20%, #8513ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight            : bold;
}