.container {
  align-items    : center;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  margin         : 0 auto;
  max-width      : 1440px;
  padding        : 0 1rem;
  width          : 100%;
}

.main {
  align-items   : center;
  display       : flex;
  flex-direction: column;
}

.swapInputContainer {
  background-color: #111;
  border-radius   : 8px;
  position        : relative;
  width           : 100%;
}

.swapInput {
  background-color: #202127;
  border          : none;
  border-radius   : 5px;
  color           : #fff;
  font-size       : 15px;
  height          : 100px;
  padding         : 1em;
  position        : relative;
  width           : 100%;
}

/* Chrome, Safari, Edge, Opera */
.swapInput::-webkit-outer-spin-button,
.swapInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

/* Firefox */
.swapInput[type=number] {
  -moz-appearance: textfield;
  appearance     : textfield;
  caret-color    : #5C25D2;
}

.swapInput:focus {
  border : 2px solid #5C25D2;
  outline: none;
}

.swapInput:disabled {
  background-color: #202127;
  color           : #FFF;
}

.maxButton {
  background-color: #272c34;
  border          : 1px solid transparent;
  border-radius   : 5px;
  color           : #777;
  cursor          : pointer;
  font-size       : 10px;
  padding         : 5px 15px;
}

.maxButton:hover {
  border-color: #753ded;
  color       : #FAF1E3;
}

.swapButton {
  align-items    : center;
  animation      : gradient-animation 2s ease-in-out infinite;
  background     : linear-gradient(100deg, #5C25D2, #4919af);
  background-size: 120% 120%;
  border         : none;
  border-radius  : 5px;
  color          : #fff;
  cursor         : pointer;
  display        : flex;
  flex-direction : column;
  font-size      : 18px;
  font-weight    : 900;
  height         : 42px;
  justify-content: center;
  margin-top     : 5px;
  padding        : 1.8em;
  width          : 100%;
}

.swapButton:hover {
  background-color: #6100d8d1;
}

.swapButton:disabled {
  background-color: #272c34;
  color           : #777;
  cursor          : not-allowed;
}

.toggleButton {
  background-color: #202127;
  border          : 2px solid #111111;
  border-radius   : 5px;
  cursor          : pointer;
  margin-bottom   : -17px;
  margin-top      : -17px;
  padding         : 5px 15px;
  z-index         : 99;
}

.toggleButton:hover {
  border-color: #5C25D2;
}

.information p {
  align-items     : center;
  background-color: #5c25d271;
  border-radius   : 10px;
  color           : #7c40fb;
  display         : flex;
  flex-direction  : row;
  font-weight     : bold;
  gap             : .3em;
  justify-content : center;
  margin          : 4em 1em;
  padding         : .8em .4em;
  width           : 340px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 800px) {}

@media only screen and (max-width: 800px) {}